bin/
.hg/
.gignore
.hgtags
*.o
*.a
*.6
*.8
*.5
*~
~*
#*
*#
*.elc
*.bin

go/src/cmd/6a/6a
go/src/cmd/6a/y.tab.c
go/src/cmd/6a/y.tab.h
go/src/cmd/6c/6c
go/src/cmd/6l/6l
go/src/cmd/6l/enam.c
go/src/cmd/cc/y.output
go/src/cmd/cc/y.tab.c
go/src/cmd/cc/y.tab.h
go/src/cmd/cov/6cov
go/src/cmd/gc/builtin.c
go/src/cmd/gc/opnames.h
go/src/cmd/gc/y.output
go/src/cmd/gc/y.tab.c
go/src/cmd/gc/y.tab.h
go/src/cmd/gc/yerr.h
go/src/cmd/godefs/godefs
go/src/cmd/gopack/gopack
go/src/cmd/nm/6nm
go/src/cmd/prof/6prof
go/src/cmd/gc/yerr.h
cmd/8l/enam.c
cmd/cc/y.tab.c
cmd/cc/y.tab.h
cmd/gc/builtin.c
cmd/gc/opnames.h
cmd/gc/y.tab.c
cmd/gc/y.tab.h
cmd/gc/y1.tab.c
cmd/gc/yerr.h
watch_build.txt

go/pkg/
go/src/cmd/8a/8a
go/src/cmd/8a/y.tab.c
go/src/cmd/8a/y.tab.h
go/src/cmd/8c/8c
go/src/cmd/8g/8g
go/src/cmd/8l/8l
go/src/cmd/8l/enam.c
go/src/cmd/gc/y1.tab.c
go/src/pkg/compress/bzip2/8.out
go/src/pkg/compress/bzip2/_testmain.go
go/src/pkg/compress/bzip2/test.out
go/src/pkg/runtime/386/asm.h
go/src/pkg/runtime/goc2c
go/src/pkg/runtime/mkversion
go/src/pkg/runtime/runtime.acid.386
go/src/pkg/runtime/runtime_defs.go

go/doc/codelab/wiki/htmlify.bin
go/doc/codelab/wiki/srcextract.bin
go/misc/dashboard/builder/_go_.6
go/misc/dashboard/builder/gobuilder
go/misc/goplay/_go_.6
go/misc/goplay/goplay
go/test/times.out