bin/
.hg/
.gignore
.hgtags
*.o
*.a
*.6
*.8
*.5
*~
~*
#*
*#
*.elc

go/src/cmd/6a/6a
go/src/cmd/6a/y.tab.c
go/src/cmd/6a/y.tab.h
go/src/cmd/6c/6c
go/src/cmd/6l/6l
go/src/cmd/6l/enam.c
go/src/cmd/cc/y.output
go/src/cmd/cc/y.tab.c
go/src/cmd/cc/y.tab.h
go/src/cmd/cov/6cov
go/src/cmd/gc/builtin.c
go/src/cmd/gc/opnames.h
go/src/cmd/gc/y.output
go/src/cmd/gc/y.tab.c
go/src/cmd/gc/y.tab.h
go/src/cmd/gc/yerr.h
go/src/cmd/godefs/godefs
go/src/cmd/gopack/gopack
go/src/cmd/nm/6nm
go/src/cmd/prof/6prof
watch_build.txt

